<table id="dokument-table">
  <tr>
    <th>Broj dokumenata</th>
    <th>Datum</th>
    <th>Vrsta</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let d of dokumenti">
    <td>{{ d.brojDokumentata }}</td>
    <td>{{ d.datum }}</td>
    <td>{{ d.vrsta }}</td>
    <td>{{ d.status }}</td>
    <td>
      <button style="margin-left: 5px" class="btn btn-info" (click)="updateDokument(d.id)">Update</button>
      <button style="margin-left: 5px" class="btn btn-danger" (click)="blockDokument(d.id)">Block</button>
    </td>
  </tr>
</table>
<div style="margin: 10px auto; width: 1%">
  <button class="btn btn-primary" (click)="createDokument()">Add</button>
</div>
