<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="jedinicaMere">
      <h2 data-cy="jedinicaMereDetailsHeading"><span>Jedinica Mere</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>Id</span></dt>
        <dd>
          <span>{{ jedinicaMere.id }}</span>
        </dd>
        <dt><span>Naziv Jedinice</span></dt>
        <dd>
          <span>{{ jedinicaMere.nazivJedinice }}</span>
        </dd>
        <dt><span>Skraceni Naziv</span></dt>
        <dd>
          <span>{{ jedinicaMere.skraceniNaziv }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/jedinica-mere', jedinicaMere.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
